opencv-python
customtkinter
desktopmagic
pycbrf
numpy
openai
psutil
pyautogui
pyperclip
pywin32
requests
screen-brightness-control
screeninfo
SpeechRecognition
pystray
pytelegrambotapi
wmi
py-win-keyboard-layout